/*main page*/
.wrapper {
    display: flex;
    display: grid;
    grid-gap: 5px;
    padding: 10px;
    height: 690px;
    grid-template-areas:
      "leftbox  midbox0  midbox0 rigthbox  "
      "leftbox  midbox0  midbox0 rigthbox "
      "leftbox  midbox0  midbox0 rigthbox "
      "leftbox  midbox0  midbox0 rigthbox ";
  }
  /*leftbox*/
  .leftbox {
    grid-area: leftbox;
    width: 430px;
  }
  .container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container div {
    margin: 10px;
  }
  
  .pictures {
    width: 40px;
    height: 30px;
  }
  
  .pictures img {
    margin-bottom: 6px;
  }
  
  .picture {
    position: relative;
    width: 310px;
    height: 300px;
  }
  
  img {
    width: 100%;
  }
  
  .img-active {
    box-shadow: 0 0 5px orangered, 0 0 5px orangered, 0 0 5px orangered;
  }
  
  .rect {
    position: absolute;
    margin: 0px !important;
    padding: 0;
    width: 300px;
    height: 420px;
    background-color: #78787c4d;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
  }
  
  .zoom {
    position: relative;
    top: -370px;
    left: 520px;
    background-image: url("../img");
    box-shadow: 3px 3px 3px rgb(24, 24, 24);
    opacity: 0;
    display: flex;
    background-repeat: no-repeat;
  }
  
  .rect-active {
    opacity: 1;
  }
  /*midbox0*/
  .midbox0 {
    grid-area: midbox0;
    width: 592px;
    height: 205px;
  }
  
  h2 {
    color: #0f1111;
    font-size: 24px;
    line-height: 32px;
  }
  .brand {
    font-size: 14px;
    color: rgb(38, 138, 202);
    line-height: 20px;
    width: 400;
  }
  .midbox0stars {
    background: url("../image/stars.png") no-repeat -2px -86px;
    width: 95px;
    height: 18px;
  }
  .brand1 {
    font-size: 14px;
    color: rgb(38, 138, 202);
    line-height: 20px;
    width: 400;
    margin-left: 2rem;
  }
  .midbox-row {
    display: flex;
    flex-flow: row;
  }
  .line {
    border-bottom: 0.3px solid gray;
    opacity: 0.4;
  }
  
  .secondp {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    margin-left: -15px;
  }
  .prisecolor {
    color: #b12755;
    font-size: 18px;
    line-height: 24px;
  }
  .details {
    color: rgb(38, 138, 202);
    font-size: 14px;
    line-height: 20px;
  }
  table {
    color: black;
    width: 60%;
    margin-left: -2px;
  }
  td {
    color: black;
  }
  .bold-table {
    font-weight: 700;
  }
  .titlemidp {
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-left: -2px;
  }
  .titlemidp li{
    color: #000;
  }
  .midp li {
    color: black;
    text-decoration: black;
  }
  .midp {
    margin-left: -8px;
  }
  
  /*rigthbox*/
  .rigthbox {
    grid-area: rigthbox;
    width: 265px;
  }
  .rigthboxmid {
    position: relative;
    height: 530px;
  }
  h1 {
    color: #000;
  }
  .rigthboxp {
    color: #000;
  }
  .bold-rigthbox {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    margin-left: -7.1%;
  }
  .tuebold {
    color: #000;
  }
  .map2-icon {
    background: url("../image/rigthboxmapicon.png");
    width: 15px;
    height: 18px;
    cursor: pointer;
    display: flex;
    position: static;
    float: none;
    flex-shrink: 0;
    text-decoration: none;
    color: #000;
  }
  .green {
    color: green;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .add {
    color: black;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    border: 1px solid yellow;
    border-radius: 50px;
    background: yellow;
    width: 80%;
    text-align: center;
  }
  .buy {
    color: black;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    border: 1px solid orange;
    border-radius: 50px;
    background: orange;
    width: 80%;
    text-align: center;
    
  }
  
  .add:hover{
    background: whitesmoke
  }
  .buy:hover{
    background: whitesmoke
  }
  .rigthtabel {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    width: 80%;
  }
  .aa {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 10%;
  }
  .bb {
    color: #000;
    font-size: 13px;
    line-height: 29px;
    font-weight: 400;
    width: 80%;
    margin-left: 10%;
  }